

.top-blog {
    padding: 0px 36px 36px 36px;
}

.all-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 55px;
}

.article-part {
    display: flex;
    column-gap: 18px;
}

.article-part img {
    width: 224px;
    height: 127px;
    border-radius: 5px;
    /* padding: 0px 10px; */
}

.blog-content h4 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.blog-content p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inline-color {
    color: #562EFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 576px) {
    .all-article {
        grid-template-columns: repeat(1, 1fr);
    }
    .article-part {
        flex-direction: column;
    }
    .article-part img {
        width: 100%;
        /* margin-bottom: 10px; */
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .all-article {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {
    .all-article {
        grid-template-columns: repeat(1, 1fr);
    }
}